.main{
    background-color: #ebf4fc;
}
.section1 {
   /* margin-left: -30%; */
    padding-left: 8rem;
    padding-top: 12rem;
    overflow-x: hidden;
    height: 100vh;
  }
  .emptycolumn img{
    border-radius: 8px;
  }
  span {
    width: 360px;
    height: 20px;
  }
  
  .lmshead{
  font-size: 45px;
  font-weight: 700;
  color: #052864;
  }
  
  .subtitle{
    font-size: 16px;
  }
  
  
  .input {
    gap: 16px;
    margin-top: 50px;
    display: grid;
  }
  
  .input input {
    border: 1px solid #d9d9d9;
    width: 360px;
    background-color: #fbfbfb;
    gap: 12px;
    padding: 8px, 16px, 8px, 16px;
  }
  
  button {
    color: white;
    background: linear-gradient(
        92.65deg,
       
        #052864 55.11%,
        #3b13bd 92.38%
      ),
      #3193e4;
    width: 100%;
    max-width: 360px;
    height: 40px;
    left: 192px;
    top: 497px;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 22px;
  }
  
  
 
  
  @media (max-width: 770px){
    .section1{
     margin-left: -25%;
    }
    .emptycolumn{
        display: none;
    }
    .input {
      grid-template-columns: 1fr;
    }
  
    .input input {
      width: 100%;
    }
    button {
      width: 85%;
      justify-content: center;
      align-items: center;
    }
    
  }