@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Racing+Sans+One&display=swap');

#navbar {
  /* background-color: rgba(174, 176, 220, 0.511);
   */
   background-color: transparent;
  border-radius: 50px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

.navlink, .dropdown {
  color: rgb(255, 254, 254) ;
}

.navlink:hover {
    color:rgb(0, 200, 255);
  font-weight: 600;
  font-style: italic;
}

.brand {
  color: rgb(244, 244, 244);
font-size: 45px;
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  
}

.brand:hover{
    color:rgb(0, 200, 255)
}

/* #navbar .dropdown{
  color: white !important;
  font-size:25px;
  font-weight: 500;
  margin-top: -8px;


} */

.custom-dropdown .dropdown-toggle {
  color: white !important;
  font-size:24px;
  font-weight: 500;
  margin-top: -8px;
}